* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

img {
  width: 100%;
}
section {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 10px;
}
